.header {
    &_mobile__nav {
        display: none;
    }

    /* .header_top */
    &_top {
        position: relative;
        width: 100%;
    }

    /* .header_bot */
    &_bot {}

    /* .header_nav */
    &_nav {
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header_top {

    /* .header_top__workspace */
    &__workspace {
        height: 180px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    /* .header_top__left */
    &__left {
        display: flex;
    }

    /* .header_top__left-text */
    &__left-text {
        margin-left: 5px;

        p:nth-child(1) {
            @include light;
            @include f12;
            color: #A13232;
        }

        p:nth-child(2) {
            cursor: pointer;
            @include regular;
            @include f16;
            color: #161616;
        }
    }

    /* .header_top__middle */
    &__middle {
        @include nopoint;
        @include noselect;
        display: flex;
        flex-direction: column;
        @include light;

        img {
            width: 75px;
            height: 75px;
            margin: 0 auto;
        }

        p:nth-child(1) {
            @include f34;
            color: #161616;
        }

        p:nth-child(2) {
            @include f16;
            color: #333333;
        }
    }

    /* .header_top__middle-text */
    &__middle-text {
        text-align: center;
    }

    /* .header_top__right */
    &__right {
        width: 162px;
        display: flex;
        @include regular;
        @include f14;
        color: #FFFFFF;
        background: #A13232;
    }
}

.header_bot {

    /* .header_bot__workspace */
    &__workspace {
        width: 100%;
        height: 40px;
        background: #333333;
    }
}

.nav_block {
    z-index: 100;
    width: 100%;
    height: 100%;
    cursor: pointer;
}


.nav {

    /* .nav_bg */
    &_bg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

    }

    /* .nav_text */
    &_text {
        @include light;
        @include f14;

        p {
            color: #DDDDDD;
        }
    }
}

@media all and (max-width: 694px) {
    .container {
        max-width: 709px;
    }

    .header_top {
        &__content {
            display: block;
        }

        .header_top {
            &__workspace {
                height: 416px;
            }

            &__content {
                display: flex;
                flex-flow: wrap;
                flex-direction: column;
                justify-content: center;
            }

            &__left {
                order: 2;
                margin-bottom: 10px;

                img {
                    display: none;
                }

                p {
                    margin-bottom: 5px;
                }
            }

            &__middle {
                order: 1;
                margin-bottom: 15px;

                img {
                    margin-bottom: 15px;
                }

                p {
                    margin-bottom: 15px;
                }
            }

            &__right {
                order: 3;
            }
        }
    }
}

@media all and (max-width:480px) {
    .header_top {
        position: static;
    }

    .header_bot {
        display: none;
    }

    .header_mobile {

        /* .header_mobile__nav */
        &__nav {
            display: block;
            position: absolute;
            width: 100%;
        }

        /* .header_mobile__open */
        &__open {
            position: absolute;
            width: 100%;
            opacity: 0;
            visibility: hidden;
        }

        /* .header_mobile__open--block */
        &__open--block {


            @include light;
            @include f14;
            background: #333333;
            height: 30px;

            p {
                padding: 7px 0 7px 48px;
                color: #FFFFFF;
            }
        }

        &__toggle {
            background: #333333;
            height: 30px;

            img {
                margin: 10px 15px 10px 15px;
            }
        }
    }
}