@mixin noselect {
    user-select: none;
}

@mixin nopoint {
    pointer-events: none;
}


.jalousie {

    /* .jalousie_button */
    &_button {
        outline: none;
        width: 162px;
        height: 30px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 0px;
        @include noselect;
    }

    &-button {
        outline: none;
        width: 162px;
        height: 30px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 0px;
        @include noselect;
    }
}

.container {
    max-width: 1130px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0 10px;
}

.important {
    @include f12;
    @include light;
    color: #D33030;
    margin-right: 5px;
    @include noselect;
    @include nopoint;

}

@media all and (max-width: 768px) {
    .container {
        max-width: 709px;
    }
}